<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_anonimo.png" class="margin-auto wine-image" alt="Anônimo">
          <a href="vinhos.html?vinho=todos" class="btn btn-primary margin-top-2">Ver Todos os Vinhos</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Anônimo</h1>
            <h3>Homenagem ao oficial do Império Romano que viveu a paixão pela donzela.</h3>

            <p>Apresenta cor rubi intensa, com aromas de frutos pretos e vermelhos maduros. Notas tostadas e especiarias provenientes do estágio em barrica de carvalho francês novo. Vinho mais encorpado, mas elegante e de elevada persistência. Típica expressão do Douro.</p>
          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Informações Técnicas por Safra</h3>
            <div class="accordion-container">
              <!-- Safra 2024 -->
              <div class="accordion-item active">
                <button class="accordion-trigger">
                  <span>2024</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content"><br>
                  <h4 class="normal">NOTAS DE PROVA</h4>

                      <p>Cor ruby intenso. Apresenta aromas de frutos vermelhos, com toques de especiarias do estágio em madeira de segundo uso. Vinho fino com maior complexidade aromática e muita elegância.</p><br>


                      <h4 class="normal">INFORMAÇÃO TÉCNICA</h4>

                                          <p class="small text-left margin-top-2">
                                          <span class="strong">Região:</span> Douro<br>
                                          <span class="medium">Sub-região:</span> Douro Superior - Torre de Moncorvo<br>
                                          <span class="medium">Tipo de solo:</span> Predominantemente xisto<br>
                                          <span class="medium">Vinhas: </span>Sardoal<br>
                                          <span class="medium">Idade dos vinhedos:</span> 15 a 30 Anos<br>
                                          <span class="medium">Castas:</span> Tinta Roriz, Touriga Franca, Touriga Nacional e Tinta Amarela<br>
                                          <span class="medium">Densidade por ha:</span> 4400 Plantas<br>
                                          <span class="medium">Altitude dos vinhedos:</span> 250 a 500m<br>
                                          <span class="medium">Período de Vindima:</span> Setembro<br>
                                          <span class="medium">Fermentação:</span> Cubas de Inox<br>
                                          <span class="medium">Engarrafado:</span> junho de 2016 <br>
                                          <span class="medium">Estágio:</span> estágio de 16 meses em barricas de carvalho francês, de segundo uso.<br>
                                          <span class="medium">Álcool:</span> 14,00% vol<br>
                                          <span class="medium">Produção:</span> 9.700 garrafas<br>
                                          </p><br>
                </div>
              </div>

              <!-- Safra 2023 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2023</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                  <h4>Safra 2023</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo veritatis molestias fuga eveniet incidunt.</p>
                </div>
              </div>

              <!-- Safra 2022 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2022</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                  <h4>Safra 2022</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo veritatis molestias fuga eveniet incidunt.</p>
                </div>
              </div>

              <!-- Safra 2021 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2021</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                  <h4>Safra 2021</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint explicabo veritatis molestias fuga eveniet incidunt.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../../js/scroll-animations.js"></script>
<script src="../../js/accordion.js"></script>