<!-- Main Content -->
  <section class="content-section bg-beige">
    <div class="container">
      <!-- Introduction -->
      <div class="scroll-animate animate-fade-up content-header">
        <h2 class="section-title">Vinhos</h2>
        <div class="section-divider"></div>
        <p class="section-text text-justify">
          Vinificação: As vindimas ocorrem durante todo o mês de setembro. As uvas são colhidas manualmente em caixas de 20 kg e vinificadas em separado. Cada vinho fermenta em cubas de inox com controle de temperatura e estagia, por períodos diferentes, em barricas de carvalho francesas novas e de segundo uso.
        </p>
      </div>
      <div class="grid grid-cols-4 scroll-animate animate-fade-up">
                <a href="vinhos.html?vinho=apaixonado-tinto" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_apaixonado.png" alt="Apaixonado Tinto">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">APAIXONADO</h3>
                    </div>
                </a>
                
                <a href="vinhos.html?vinho=apaixonado-branco" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_apaixonado_branco.png" alt="Apaixonado Branco">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">APAIXONADO BRANCO</h3>
                    </div>
                </a>
                
                <a href="vinhos.html?vinho=apaixonado-rose" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_apaixonado_rose.png" alt="Apaixonado Rosé">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">APAIXONADO ROSÉ</h3>
                    </div>
                </a>

                <a href="vinhos.html?vinho=apaixonado-touriga" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_apaixonado_touriga.png" alt="Apaixonado Touriga - Tinto">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">APAIXONADO TOURIGA</h3>
                    </div>
                </a>

                <a href="vinhos.html?vinho=avidos" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_avidos.png" alt="Ávidos Tinto">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">ÁVIDOS</h3>
                    </div>
                </a>
                
                <a href="vinhos.html?vinho=anonimo" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_anonimo.png" alt="Anônimo Tinto">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">ANÔNIMO</h3>
                    </div>
                </a>
                
                <a href="vinhos.html?vinho=amavio" class="wine-card scroll-animate">
                    <div class="wine-card-image">
                        <img src="../images/garrafa_amavio.png" alt="Amávio Tinto">
                    </div>
                    <div class="wine-card-content">
                        <h3 class="wine-card-title">AMÁVIO</h3>
                    </div>
                </a>
            </div>

            <div class="additional-tips scroll-animate animate-fade-up">
                <h3>Características das safras do Douro Superior:</h3>
                <ul class="tips-list margin-top-2"">
                    <li> 2018 – Clima intermediário entre 2015 e 2016. Mais equilíbrio entre concentração e elegância.</li>
                    <li> 2017 – Mais quente ainda que 2015, nossos vinhos ainda em repouso.</li>
                    <li> 2016 – Lembra a 2014, com pouca chuva. Vinhos com mais fruta fresca e vermelha. Menos concentração e volume de boca, mas são mais elegantes e frescos.</li>
                    <li> 2015 - Ano mais quente no período da pré-vindima e vindima. Frutos mais maduros e pretos. Vinhos mais concentrados.</li>
                    <li> 2014 – Temperaturas amenas, originando vinhos mais frescos e elegantes.</li>
                </ul>
            </div>


    </div>
  </section>