<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_anonimo.png" class="margin-auto wine-image" alt="Anônimo">
          <a href="wines.html?wine=all" class="btn btn-primary margin-top-2">Explore all wines</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Anônimo</h1>
            <p>A tribute to the Roman Empire officer who lived his passion for the maiden.</p><br>

          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Wine Specifications by vintage</h3>
            <div class="accordion-container">
              <!-- Safra 2015 -->
              <div class="accordion-item active">
                <button class="accordion-trigger">
                  <span>2015</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content"><br>
                  <h4 class="normal">TASTING NOTES</h4>

                      <p>Displays an intense ruby color, with aromas of ripe black and red fruits. Toasted notes and spices derived from aging in new French oak barrels. A fuller-bodied wine, more elegant, with remarkable persistence. A typical expression of the Douro.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Salgueiras and Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 30 years<br> 
                            <span class="medium">Grape varieties:</span> Tinta Roriz, Touriga Franca, and Sousão<br> 
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks<br> 
                            <span class="medium">Bottled:</span> July 2018<br> 
                            <span class="medium">Aging:</span> 22 months in new French oak barrels<br> 
                            <span class="medium">Alcohol:</span> 13.5% vol<br> 
                            <span class="medium">Production:</span> 3,000 bottles<br> 
                        </p><br>
                </div>
              </div>

              <!-- Safra 2014 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2014</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content"><br>
                  <h4 class="normal">TASTING NOTES</h4>

                      <p>Displays an intense ruby color, with aromas of ripe black and red fruits. Toasted notes and spices derived from aging in new French oak barrels. A fuller-bodied wine, more elegant, with remarkable persistence. A typical expression of the Douro.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Salgueiras and Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 30 years<br> 
                            <span class="medium">Grape varieties:</span> Tinta Roriz, Touriga Franca, and Sousão<br> 
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks<br> 
                            <span class="medium">Bottled:</span> December 2016<br> 
                            <span class="medium">Aging:</span> 18 months in new French oak barrels<br> 
                            <span class="medium">Alcohol:</span> 13.5% vol<br> 
                            <span class="medium">Production:</span> 3,800 bottles<br> 
                        </p><br>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../js/scroll-animations.js"></script>
<script src="../js/accordion.js"></script>