<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_apaixonado_touriga.png" class="margin-auto wine-image" alt="Apaixonado Touriga">
          <a href="wines.html?wine=all" class="btn btn-primary margin-top-2">Explore all wines</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Apaixonado Touriga</h1>
            <p>A toast to all lovers!</p><br>

          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Wine Specifications by vintage</h3>
            <div class="accordion-container">
              <!-- Safra 2017 -->
              <div class="accordion-item active">
                <button class="accordion-trigger">
                  <span>2024</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content"><br>
                  <h4 class="normal">TASTING NOTES</h4>

                      <p>Intense in both color and aroma, with very ripe red fruits and some black fruits. Slightly toasted notes from barrel aging. Full-bodied, with present yet polished tannins. Long, silky finish. Highly persistent.</p><br>


                      <h4 class="normal">INFORMAÇÃO TÉCNICA</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Salgueiras and Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 25 years<br> 
                            <span class="medium">Grape variety:</span> Touriga Nacional (3 vineyard plots)<br> 
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> Late August, early September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks with pump-over system and automatic temperature control<br> 
                            <span class="medium">Bottled:</span> July 2020<br> 
                            <span class="medium">Aging:</span> 30 months in French oak barrels, 2nd to 4th use<br> 
                            <span class="medium">Alcohol:</span> 14.5% vol<br> 
                            <span class="medium">Production:</span> 2,000 bottles<br> 
                        </p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../js/scroll-animations.js"></script>
<script src="../js/accordion.js"></script>