<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_apaixonado_branco.png" class="margin-auto wine-image" alt="Apaixonado White">
          <a href="wines.html?wine=all" class="btn btn-primary margin-top-2">Explore all wines</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Apaixonado White</h1>
            <p>A toast to all lovers!</p><br>

          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Wine Specifications by vintage</h3>
            <div class="accordion-container">
              <!-- Safra 2019 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2019</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                      <h4 class="normal">TASTING NOTES</h4>

                      <p>Citrine in color, with greater structure, floral and citrus notes, and subtle nuances from barrel aging. Fresh and elegant, with good persistence. Enjoy now, with aging potential.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <span class="strong">Region:</span> Douro<br> 
                        <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                        <span class="medium">Grape varieties:</span> Rabigato, Viosinho, Códega, Gouveio, and Malvasia Fina<br> 
                        <span class="medium">Harvest period:</span> First week of September<br> 
                        <span class="medium">Fermentation:</span> 40% in new French oak barrels and 60% in stainless steel tanks with automatic temperature control<br> 
                        <span class="medium">Aging:</span> 10 months in new French oak barrels<br> 
                        <span class="medium">Bottled:</span> July 2020<br> 
                        <span class="medium">Alcohol:</span> 12.4% vol<br>
                </div>
              </div>

              <!-- Safra 2018 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2018</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                  <h4 class="normal">TASTING NOTES</h4>

                      <p>Citrine-colored wine, with greater structure, floral notes, and subtle nuances from barrel aging. Fresh and elegant, with good persistence.</p><br>


                      <h4 class="normal">INFORMAÇÃO TÉCNICA</h4>

                        <p class="small text-left margin-top-2">
                        <span class="strong">Região:</span> Douro<br>
                        <span class="medium">Sub-região:</span> Douro Superior - Torre de Moncorvo<br>
                        <span class="medium">Castas:</span> Rabigato, Viosinho, Códega, Gouveio e Malvasia Fina<br>
                        <span class="medium">Altitude dos vinhedos:</span> 250 a 500m<br>
                        <span class="medium">Período de Vindima:</span> Primeira semana de Setembro<br>
                        <span class="medium">Fermentação:</span> 40% em barrica de carvalho francês novo e 60% em cubas de inox<br>
                        <span class="medium">Estágio:</span> 9 meses em barricas de carvalho francês novo<br>
                        <span class="medium">Engarrafado:</span> julho de 2019 <br>
                        <span class="medium">Álcool:</span> 13,00% vol<br>
                        <span class="medium">Produção:</span> 900 garrafas<br>
                        </p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../js/scroll-animations.js"></script>
<script src="../js/accordion.js"></script>