<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_apaixonado_rose.png" class="margin-auto wine-image" alt="Apaixonado Rosé">
          <a href="wines.html?wine=all" class="btn btn-primary margin-top-2">Explore all wines</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Apaixonado Rose</h1>
            <p>A toast to all lovers!</p><br>

          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Wine Specifications by vintage</h3>

              <!-- Safra 2020 -->
              <div class="accordion-item active">
                <button class="accordion-trigger">
                  <span>2021</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                 <h4 class="normal">TASTING NOTES</h4>

                      <p>Rosé-colored wine, with wild red berries, raspberry, and cherry. A fresh, dry wine with good acidity. Seductive and passionate finish.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Salgueiras and Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 30 years<br> 
                            <span class="medium">Grape variety:</span> Touriga Nacional<br> 
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> Early September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks with automatic temperature control<br> 
                            <span class="medium">Bottled:</span> December 2020<br> 
                            <span class="medium">Aging:</span> 16 months in second-use French oak barrels<br> 
                            <span class="medium">Alcohol:</span> 12.5% vol<br> 
                            <span class="medium">Production:</span> 2,800 bottles<br>
                        </p><br>
                </div>
              </div>

               <!-- Safra 2018 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2018</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                 <h4 class="normal">TASTING NOTES</h4>

                      <p>Carmine-colored with pale pink hues, this rosé is more structured yet dry and elegant. It also stands out for its youth and freshness, revealing abundant fruity notes and subtle floral touches.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Salgueiras and Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 30 years<br> 
                            <span class="medium">Grape variety:</span> Touriga Nacional<br>
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks<br> 
                            <span class="medium">Bottled:</span> December 2018<br> 
                            <span class="medium">Aging:</span> 16 months in second-use French oak barrels<br>
                            <span class="medium">Alcohol:</span> 12.8% vol<br> 
                            <span class="medium">Production:</span> 1,957 bottles<br> </p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../js/scroll-animations.js"></script>
<script src="../js/accordion.js"></script>