<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_apaixonado_branco.png" class="margin-auto wine-image" alt="Apaixonado White">
          <a href="wines.html?wine=all" class="btn btn-primary margin-top-2">Explore all wines</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Apaixonado White</h1>
            <p>A toast to all lovers!</p><br>

          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Wine Specifications by vintage</h3>
            <div class="accordion-container">

              <!-- Safra 2021 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2021</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                      <h4 class="normal">TASTING NOTES</h4>

                      <p>Intense citrus color. The wine shows aromas of tropical and citrus fruits well integrated with light toasted notes from partial fermentation in oak. These characteristics, combined with moderately high acidity, give the wine freshness and aromatic persistence.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <span class="strong">Region:</span> Douro<br> 
                        <span class="medium">Sub-region:</span> Douro Superior – Lousa – Torre de Moncorvo<br> 
                        <span class="medium">Soil type:</span> Schist<br> 
                        <span class="medium">Vine Age:</span> 10–20 years<br> 
                        <span class="medium">Grape varieties:</span> Viosinho, Rabigato, Códega<br> 
                        <span class="medium">Vine Density:</span> 4,400 vines per hectare<br> 
                        <span class="medium">Altitude:</span> 375m above sea level<br> 
                        <span class="medium">Harvest period:</span> August 28, 2021<br> 
                        <span class="medium">Harvest method:</span> Hand-harvested, grapes transported in 20 kg boxes<br> 
                        <span class="medium">Fermentation:</span> Stainless steel tanks with automatic temperature control and French oak barrels<br> 
                        <span class="medium">Aging:</span> 10 months in French oak barrels<br> 
                        <span class="medium">Bottled:</span> July 2022<br> 
                        <span class="medium">Alcohol:</span> 13% vol<br>
                        <span class="medium">Total Acidity:</span> 5.6 g/L (Tartaric acid)<br>
                        <span class="medium">Volatile Acidity:</span> 0.4 g/L (Acetic acid)<br>
                        <span class="medium">pH:</span> 3.35<br>
                        <span class="medium">Residual Sugar:</span> 0.0 g/L<br>
                        <span class="medium">Total Dry Extract:</span> 19.0 g/L<br>
                        <span class="medium">Free SO₂ at Bottling:</span> 25.0 mg/L<br>
                        <span class="medium">Production:</span> 1,600 bottles<br>
                </div>
              </div>

              <!-- Safra 2019 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2019</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                      <h4 class="normal">TASTING NOTES</h4>

                      <p>Citrine in color, with greater structure, floral and citrus notes, and subtle nuances from barrel aging. Fresh and elegant, with good persistence. Enjoy now, with aging potential.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <span class="strong">Region:</span> Douro<br> 
                        <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                        <span class="medium">Grape varieties:</span> Rabigato, Viosinho, Códega, Gouveio, and Malvasia Fina<br> 
                        <span class="medium">Harvest period:</span> First week of September<br> 
                        <span class="medium">Fermentation:</span> 40% in new French oak barrels and 60% in stainless steel tanks with automatic temperature control<br> 
                        <span class="medium">Aging:</span> 10 months in new French oak barrels<br> 
                        <span class="medium">Bottled:</span> July 2020<br> 
                        <span class="medium">Alcohol:</span> 12.4% vol<br>
                </div>
              </div>

              <!-- Safra 2018 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2018</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content">
                  <h4 class="normal">TASTING NOTES</h4>

                      <p>Citrine-colored wine, with greater structure, floral notes, and subtle nuances from barrel aging. Fresh and elegant, with good persistence.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2">
                        <span class="strong">Region:</span> Douro<br>
                        <span class="medium">Sub-region:</span> Douro Superior - Torre de Moncorvo<br>
                        <span class="medium">Grape varieties:</span> Rabigato, Viosinho, Códega, Gouveio e Malvasia Fina<br>
                        <span class="medium">Altitude:</span> 250 to 500m<br>
                        <span class="medium">Harvest period:</span> First week of September<br>
                        <span class="medium">Fermentation:</span> 40% in new French oak barrels and 60% in stainless steel tanks with automatic temperature control<br>
                        <span class="medium">Aging:</span> 9 months in new French oak barrels<br>
                        <span class="medium">Bottled:</span> July 2019 <br>
                        <span class="medium">Alcohol:</span> 13,00% vol<br>
                        <span class="medium">Production:</span> 900 bottles<br>
                        </p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../js/scroll-animations.js"></script>
<script src="../js/accordion.js"></script>