<!-- Wine Details -->
  <section class="content-section bg-beige">
    <div class="container">
      <div class="grid grid-cols-2">
        <!-- Wine Image -->
        <div class="scroll-animate text-center">
          <img id="wine-image" src="../images/garrafa_avidos.png" class="margin-auto wine-image" alt="Ávidos">
          <a href="wines.html?wine=all" class="btn btn-primary margin-top-2">Explore all wines</a>
        </div>

        <!-- Wine Info -->
        <div class="scroll-animate">
          <div class="wine-detail">
            <h1>Ávidos</h1>
            <p>A fervent, ardent, and unrestrained desire for something or someone!</p><br>

            <p>The winery’s icon, produced only in exceptional vintages, with a great diversity of grape varieties. The result is a highly elegant and complex wine, in the style of the finest old vines.</p>
          </div>

          <!-- Vintage Accordion -->
          <div>
            <h3>Wine Specifications by vintage</h3>
            <div class="accordion-container">
              <!-- Safra 2016 -->
              <div class="accordion-item active">
                <button class="accordion-trigger">
                  <span>2016</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content"><br>
                  <h4 class="normal">TASTING NOTES</h4>

                      <p> Ruby-colored, with aromas of red and wild berries, complemented by spice notes from aging in first-use French oak. Notable for the softness and silkiness of its tannins. The 2014 vintage shows a bit more body.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 30 years<br> 
                            <span class="medium">Grape varieties:</span> Tinta Amarela, Touriga Nacional, Touriga Franca, Tinta Roriz, Tinta Barroca, Tinta Francisca, Tinto Cão, Sousão, and Marufo<br> 
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks<br> 
                            <span class="medium">Bottled:</span> July 2019<br> 
                            <span class="medium">Aging:</span> 30 months in first-use French oak barrels<br> 
                            <span class="medium">Alcohol:</span> 13.6% vol<br> 
                            <span class="medium">Production:</span> 3,300 bottles<br> 
                        </p><br>
                </div>
              </div>

               <!-- Safra 2016 -->
              <div class="accordion-item">
                <button class="accordion-trigger">
                  <span>2014</span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" 
                      viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <div class="accordion-content"><br>
                  <h4 class="normal">TASTING NOTES</h4>

                      <p>Ruby-colored wine, with aromas of red and wild berries, enhanced by spice notes from aging in first-use French oak. Notable for the softness and silkiness of its tannins. The 2016 vintage is slightly less full-bodied.</p><br>


                      <h4 class="normal">WINE SPECIFICATIONS</h4>

                        <p class="small text-left margin-top-2"> 
                            <span class="strong">Region:</span> Douro<br> 
                            <span class="medium">Sub-region:</span> Douro Superior – Torre de Moncorvo<br> 
                            <span class="medium">Soil type:</span> Predominantly schist<br> 
                            <span class="medium">Vineyards:</span> Sardoal<br> 
                            <span class="medium">Age of vineyards:</span> 15 to 30 years<br> 
                            <span class="medium">Grape varieties:</span> Tinta Amarela, Touriga Nacional, Touriga Franca, Tinta Roriz, Tinta Barroca, Tinta Francisca, Tinto Cão, Sousão, and Marufo<br> 
                            <span class="medium">Planting density per ha:</span> 4,400 vines<br> 
                            <span class="medium">Vineyard altitude:</span> 250 to 500 m<br> 
                            <span class="medium">Harvest period:</span> September<br> 
                            <span class="medium">Fermentation:</span> Stainless steel tanks<br> 
                            <span class="medium">Bottled:</span> December 2016<br> 
                            <span class="medium">Aging:</span> 18 months in first-use French oak barrels<br> 
                            <span class="medium">Alcohol:</span> 13.6% vol<br> 
                            <span class="medium">Production:</span> 2,800 bottles<br> 
                        </p><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<script src="../js/scroll-animations.js"></script>
<script src="../js/accordion.js"></script>